In [24]:
# import the ingredients
from scipy.stats import ttest_1samp
import pandas as pd

In [21]:
#shorthand version

data=[87,65,67,72,73,97,76]
test=ttest_1samp(a=data,popmean=85)

In [22]:
test

Ttest_1sampResult(statistic=-1.916025351241149, pvalue=0.10383679699348965)

In [ ]:
# test > 1.895
-1.895
if test statistic > threshold
(derived from 0.05)

In [10]:
from scipy.stats import norm # Z distribution

In [11]:
import math

### Summarise statistical test

- comparing to the population - 85 valid assume - Z distribution
- pop mean is 85
- sample mean is 80.94
- collected 25 weights in sample (25 boys)
- st.dev of sample = 11.6

- one tailed test or two-tailed test?
- one tailed t test - is the sample mean significantly lower than 85

+ Ho: no difference between these boys and the population
* Ha: boys are underweight - significant evidence

In [12]:
# define all the needed variables

sample_mean = 80.94
pop_mean = 85
sampl_std = 11.6
n = 25

In [13]:
# calculate the t statistic
# (sample_mean - pop_mean)/ (sampl_std/sqrt(n-1))

statistic = (sample_mean - pop_mean) / (sampl_std/(math.sqrt(n-1)))
statistic # (t value)

-1.7146428199482255

In [14]:
# 0.05 conventional threshold - need to find critical value

critical_value = norm.ppf(0.05)
critical_value

-1.6448536269514729

In [15]:
# on the one tailed t test, we have evidence of a statistic significance different in the means
# this sugests we should reject the Null hypotethesis

# p value - is it less than 0.05?

p_value = norm.cdf(statistic)
p_value

# cumulative distribution function cdf - on the t test, distribution, return the cumulative norm

0.04320536648684992

SUMMARY
from our two tests - t test and p value

accept our Ha - enough evidence to claim the boys are underweight

In [16]:
sample_mean = 89.2
pop_mean = 85
pop_std = 11.6
n=25

statistic = (sample_mean - pop_mean) / (sampl_std/(math.sqrt(n-1)))
statistic # (t value)

1.773768434429199

In [20]:
# two tailed test

critical_value = norm.ppf(0.025)
critical_value

-1.9599639845400545

### ANOVA test

In [25]:
data = pd.read_excel('anova_class_example_data.xlsx', sheet_name = 'data_collected')

In [27]:
data

    Display_design  Percent_increase_in_sales
0                1                        575
1                2                        565
2                3                        600
3                4                        725
4                1                        542
5                2                        593
6                3                        651
7                4                        700
8                1                        530
9                2                        590
10               3                        610
11               4                        715
12               1                        539
13               2                        579
14               3                        637
15               4                        685
16               1                        570
17               2                        610
18               3                        629
19               4                        710

In [29]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [30]:
model=ols('Percent_increase_in_sales ~ C(Display_design)', data=data).fit()

In [31]:
results_table=sm.stats.anova_lm(model)

In [33]:
print(results_table)

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN

In [34]:
# check F value against critical value from F table using 3 and 16 from df

SUMMARY

yes, there is a statistically significance difference between sales between sales / displays.

doesn't tell us which display is better - but it informs there is something worth studying

In [ ]:
d